<!DOCTYPE html>
<html lang="en">
<head>
	<title>error</title>
	<meta charset="UTF-8">
	<meta name="descripción" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robot" content="index,follow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/error.css">
</head>
<body>
	<header class="header">
	</header>

	<main>
		<div>
			<h1>404</h1>
			<h2>Website not found</h2>
		</div>
	</main>


	<footer class="footer">
		<a href="/">Terms of use</a>
		<a href="/">Privacy statement</a>
		<a href="/">Help</a>
	</footer>
</body>
</html>