<!DOCTYPE html>
<html lang="en">
<head>
	<title>login</title>
	<meta charset="UTF-8">
	<meta name="descripción" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robot" content="index,follow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<header class="header">
		
	</header>

	<section class="login">
		<section class="login__container">
			<h2>Login</h2>
			<form class="login__container--form">
				<input class="input" type="text" placeholder="E-mail" value="">
				<input class="input" type="password" placeholder="Password" value="">
				<button class="button">Log In</button>
				<div class="login__container--remember-me">
					<label>
						<input type="checkbox" id="cbox1" value="checkbox">Remember me
					</label>
					<a href="/">Forgot password</a>
				</div>
			</form>

			<section class="login__container--social-media">
				<div><img src="../img/icon_google.png" alt="icon_google">Login with Google</div>
				<div><img src="../img/icon_twitter.png" alt="icon_twitter">Login with Twitter</div>
			</section>
			<p class="login__container--register">Do not have an account?<a href="/">Register here</a></p>
		</section>
	</section>

	<footer class="footer">
		<a href="/">Terms of use</a>
		<a href="/">Privacy statement</a>
		<a href="/">Help</a>
	</footer>

</body>
</html>


