<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="descripción" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robot" content="index,follow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/register.css">
</head>
<body>
	<header class="header">
		
	</header>

	<section class="register">
		<section class="register__container">
			<h2>Register</h2>
			<form class="register__container--form">
				<input class="input" type="text" placeholder="E-mail">
				<input class="input" type="text" placeholder="Password">
				<input class="input" type="text" placeholder="Confirm password">
				<button class="button">Create account</button>
			</form>

			<section class="login__container--social-media">
				<div><img src="../img/icon_google.png" alt="icon_google">Register with Google</div>
				<div><img src="../img/icon_twitter.png" alt="icon_twitter">Register with Twitter</div>
			</section>
		</section>
	</section>

	<footer class="footer">
		<a href="/">Terms of use</a>
		<a href="/">Privacy statement</a>
		<a href="/">Help</a>
	</footer>

</body>
</html>


